

/* Importamos la fuente del html de origen */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Inter:wght@300;400;500;600;700&display=swap');

body { 
  font-family: 'Inter', sans-serif; 
}

/* Personalización de la barra de desplazamiento*/
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 10px; }
.dark ::-webkit-scrollbar-thumb { background: #475569; }

/* Animaciones personalizadas */
.fade-in { animation: fadeIn 0.4s ease-out; }
.slide-up { animation: slideUp 0.3s ease-out; }

@keyframes fadeIn { 
  from { opacity: 0; transform: translateY(5px); } 
  to { opacity: 1; transform: translateY(0); } 
}
@keyframes slideUp { 
  from { transform: translateY(20px); opacity: 0; } 
  to { transform: translateY(0); } 
}